@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 30 20% 96%;
    --foreground: 20 10% 10%;
    --card: 30 15% 98%;
    --card-foreground: 20 10% 10%;
    --popover: 30 15% 98%;
    --popover-foreground: 20 10% 10%;
    --primary: 20 10% 12%;
    --primary-foreground: 30 20% 96%;
    --secondary: 30 10% 91%;
    --secondary-foreground: 20 10% 12%;
    --muted: 30 10% 91%;
    --muted-foreground: 20 5% 45%;
    --accent: 30 10% 88%;
    --accent-foreground: 20 10% 12%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 86%;
    --input: 30 10% 86%;
    --ring: 20 10% 12%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
